/* SUMÁRIO
00 - Geral
01 - Header
02 - Slider
03 - Sobre
04 - Valores
05 - Lobinhos Exemplos
06 - Footer
07 - Quem somos
08 - Fale conosco
09 - Enviar lobinho
10 - Show lobinho
 */

 /* 00 - Geral */
 :root {
    --black: #333333;
    --dark-blue: #2C5680;
    --gray: #E6E6E6;
    --light-blue: #85CDF5;
    --white: #fafafa;
    --yellow: #DEB959;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

/* 01 - Header */

.menu {
    width: 100%;
    background: var(--light-blue);
    position: fixed;
    top: 0;
    z-index: 500;
}

.nav-bar {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: var(--black);
    margin-left: 20px;
}

.nav-bar a{
    text-decoration: none;
    color: var(--black);
    position: relative;
    display: inline-block;
}

.nav-link {
    bottom: 35px;
}

.nav-link:after {
    content: '';
    display: block;
    background-color: var(--black);
    height: 3px;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
    transition: .3s;
}

.nav-link-right {
    bottom: 35px;
}

.nav-link-right::after {
    content: '';
    display: block;
    float: right;
    background-color: var(--black);
    height: 3px;
    width: 0;
}

.nav-link-right:hover:after {
    width: 100%;
    transition: .3s;
}

.logo {
    max-height: 80px;
    margin: 10px 220px
}

/* 02 - Slider */
#slider-section {
    overflow: hidden;
    margin-top: 80px;
}

.slider {
    width: 100%;
    height: 500px;
    cursor: pointer;
    align-items: center;
}

.slider-img {
    filter: brightness(70%);
    max-width: 100%;
    margin: auto;
}

.slider-txt {
    bottom: 150px;
    left: 300px;
    position: absolute;
    z-index: 50;
}

.slider-txt h1{
    color:var(--white);
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.slider-txt h1:after{
    content: '';
    background: var(--white);
    width: 100px;
    height: 5px;
    display: block;
    margin: 20px auto 10px auto;
}

.slider-txt p{
    color:var(--white);
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.8em;
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
}

/* 03 - Sobre */
#about {
    width: 100%;
    background: var(--dark-blue);
    text-align: center
}

#about h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: var(--yellow);
    padding: 20px;
}

#about p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    color: var(--white);
    padding-bottom: 60px;
}

/*  04 - Valores */
#virtues {
    width: 100%;
    background: var(--black);
    text-align: center;
}

#virtues h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: var(--yellow);
    padding: 20px;
}

.virtue-item {
    max-width: 200px;
    display: inline-block;
    padding: 10px;
}

.virtue-icons {
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: var(--white);
    margin-bottom: 20px;
}
 .virtue-icons img{
    margin-top: 20px;
    max-width: 150px;
 }

.virtue-item h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--white);
    padding: 20px;
}

.virtue-item p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    color: var(--white);
    padding-bottom: 60px;
    text-align: inherit;
}

/* 05 - Lobos Exemplo */
#lobinhos-ex {
    width: 100%;
}

#lobinhos-ex h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: var(--yellow);
    padding: 40px;
    text-align: center;
}

div#all-lobinhos div:nth-child(odd) img{
    float: left;
    margin-right: 100px;
    box-shadow: -20px -20px 0 var(--dark-blue), -20px -20px 0 4px var(--black);
}

div#all-lobinhos div:nth-child(even) img{
    float: right;
    margin-left: 100px;
    box-shadow: 20px -20px 0 var(--dark-blue), 20px -20px 0 4px var(--black);
}

div#all-lobinhos div:nth-child(even){
    text-align: right;
}

.lobinho {
    display: inline-block;
    width: 960px;
    margin: 0 auto;
}

.lobinho::after {
    content: '';
    height: 60px;
    display: block;
}

.lobinho-img {
    max-width: 400px;
    margin-left: 30px;
    margin: 40px 0 40px 30px;
}

.lobinho h4 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--black);
    padding: 10px;
}

.lobinho h5 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.250em;
    font-weight: 300;
    color: var(--black);
}

.lobinho p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    color: var(--black);
    text-align: inherit;
    padding: 10px;
}

/* 06 - Footer */
.footer::before {
    content: '';
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, var(--yellow), var(--dark-blue));
    display: block;
}

.footer {
    margin-top: 60px;
    width: 100%;
    height: 275px;
    background: var(--black);
}

.footer a {
    text-decoration: none;
    color: var(--black);
}

.footer-map {
    max-width: 250px;
    display: inline-block;
    padding: 50px 50px 0 0;
}

.infos {
    max-width: 350px;
    display: inline-block;
    margin: -10px 50px 50px 0;
}

.info-item img {
    display: inline-block;
    margin-right: 10px;
}

.info-item::after{
    content: '';
    display: block;
    height: 20px;
}

.info-item p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    max-width: 320px;
    display: inline-block;
}

.footer-btn {
    color: var(--black);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 3px 10px 5px 10px;
    cursor: pointer;
    background: var(--yellow);
    max-width: 125px;
    transition: .5s;
}

.footer-btn:hover {
    background: var(--dark-blue);
    color: var(--white);
}

.paws {
    max-width: 130px;
    display: inline-block;
}

.paws p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    max-width: 120px;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
}

.paws img {
    padding-bottom: 20px;
}

/* 07 - Quem somos */
.who-we-are {
    margin-top: 100px;
}

.who-we-are h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.667em;
    padding: 50px;
    text-align: center;
}

.who-we-are p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 50px;
}

/* 08 - Fale conosco */
.talk-to-us{
    width: 100%;
    margin-top: 150px;
}

.talk-to-us h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    padding: 50px;
    text-align: center;
}

#talk-form {
    margin-left: 100px;
    line-height: 10px;
}

#talk-form p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3em;
    font-weight: 600; 
}

.form {
    width: 760px;
    height: 40px;
    background: var(--gray);
    margin-bottom: 25px;
    border: 1px solid var(--black);
    padding-left: 10px;
}

.form-msg {
    width: 760px;
    height: 250px;
    background: var(--gray);
    margin-bottom: 50px;
    border: 1px solid var(--black);
}

#talk-form button{
    background: var(--dark-blue);
    color: var(--white);
    margin: 0 35%;
    padding:  10px 50px;
    margin-bottom: 110px;
    transition: .3s;
}

#talk-form button:hover{
    background: var(--white);
    color: var(--dark-blue);
}

/* 09 - Enviar lobinho */
#post-lobinho {
    margin-top: 180px;
    width: 960px;
    border: 3px solid var(--black);
    text-align: left;
}

#post-lobinho h2{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: var(--black);
    padding: 40px;
    text-align: center;
}

#post-lobinho p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    color: var(--black);
    padding: 10px;
}

#post-lobinho input{
    background: var(--gray);
    border: 1px solid var(--black);
    padding: 10px 0 5px 10px;
}

.name {
    margin-right: 20px;
    margin-left: 98px;
    display: inline-block;
}

.name input{
    width: 560px;
}

.age {
    width: 150px;
    display: inline-block;
}

.others {
    margin-left: 98px;
}

.others input{
    width: 760px;
}

.description {
    height: 250px;
}

.post {
    max-width: 210px;
    padding: 10px 70px;
    background: var(--dark-blue);
    border: 1px solid var(--black);
    cursor: pointer;
    transition: .3s;
    margin: 50px 374px;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    color: var(--white);
    font-weight: 600;
}

.post:hover {
    background: var(--yellow);
    color: var(--black);
}

/* 10 - Show lobinho */
#show-lobinho {
    width: 100%;
    margin-top: 130px;
    min-height: 670px;
    display: inline-block;
    position: relative;
}

#show-lobinho h5 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.225em;
    font-weight: 900;
    color: var(--black);
    padding: 40px;
    text-align: center;
}

.show-txt {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
    color: var(--black);
    margin-left: 50px;
    max-width: 478px;
    display: inline-block;
    position: absolute;
    top: 150px;
}

#show-lobinho img {
    max-width: 400px;
    margin-top: 50px;
    box-shadow: -20px -20px 0 var(--dark-blue), -20px -20px 0 4px var(--black);
}

.show-btns {
    max-width: 450px;
    margin-top: 90px;
}

.show-btns a{
    text-decoration: none;
}

.adopt-btn {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    font-weight: bold;
    background: #7AAC3A;
    padding: 10px 55px;
    margin-right: 70px;
}

.delete-btn {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--white);
    font-weight: bold;
    background: #DE5959;;
    padding: 10px 55px;
}